.input{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

}

.input-box {
        /* родительский блок относительно которого будем формировать положение
        тега label */
        position: relative;


}

.label {
        position: relative !important;
        /* смещение относительно родительского элемента 10px вверх от верхнего края и   10px влево */
        top: 20px;
        left: 10px;
        background: gray;
        border-radius: 11px;
        padding: 0 5px;
}