@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    padding: 1rem;

}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }


}

button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;

    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: aqua;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 5px
}

/*input[type=text], select {*/
/*    width: 440px;*/
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
/*    display: inline-block;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*    box-sizing: border-box;*/
/*}*/

.input-box {
    /* родительский блок относительно которого будем формировать положение
    тега label */
    position: relative;
    display: inline-block;
    /*border: 1px solid black;*/

}

input {

    background: #fff;
    /* закруглим края у поля ввода */
    border-radius: 11px;
    /*display: inline-block;*/
    width: 440px;
    padding: 12px 20px;
    margin: 8px 8px;
}

label {
    position: absolute;
    /* смещение относительно родительского элемента 10px вверх от верхнего края и   10px влево */
    top: -10px;
    left: 10px;
    background: gray;
    border-radius: 11px;
    padding: 0 5px;
}




