.label {

    position: relative;
    /* смещение относительно родительского элемента 10px вверх от верхнего края и   10px влево */
    top: 0;
    left: 10px;
    background: gray;
    border-radius: 11px;
    padding: 0 5px;
}

.image {
    display: inline-block;
    width: 48px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;

    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: aqua;
    border: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 5px;
}

.image:hover{
    background: #383;
}